<section class="signup d-flex align-items-center vh-100">
    <div class="container boxShadow">
        <div class="signup-content row">
            <div class="signup-form col-md-6">
                <h2 class="form-title fs-2">Sign up</h2>
                <form [formGroup]="registerForm" (ngSubmit)="handleRegister(registerForm)" class="register-form mt-4" id="register-form">
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="name">
                            <span class="fa-solid fa-user"></span>
                        </label>
                        <input formControlName="name" type="text" name="name" id="name" placeholder="Your Name" />
                    </div>
                    <p class="alert alert-danger" *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
                     <span *ngIf="registerForm.get('name')?.getError('required')">Required</span>
                     <span *ngIf="registerForm.get('name')?.getError('minlength')">Name must be at least 3 characters long</span>
                    </p>
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="email">
                            <span class="fa-solid fa-envelope"></span>
                        </label>
                        <input  formControlName="email" type="email" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <p class="alert alert-danger" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
                        <span *ngIf="registerForm.get('email')?.getError('required')">Required</span>
                        <span *ngIf="registerForm.get('email')?.getError('email')">Invalid e-mail</span>
                       </p>
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="pass">
                            <span class="fa-solid fa-lock"></span>
                        </label>
                        <input  formControlName="password"  type="password" name="password" id="password" placeholder="Password" />
                    </div>
                    <p class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                        <span *ngIf="registerForm.get('password')?.getError('required')">Required</span>
                        <span *ngIf="registerForm.get('password')?.getError('pattern')">
                            *Starts with a capital letter.<br>
                            *Contains at least one digit.<br>
                            *Contains at least one special character<br>
                            *Password length between 4 and 12 characters.
                        </span>
                       </p>
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="phone">
                            <span class="fa-solid fa-phone"></span>
                        </label>
                        <input  formControlName="phone" type="tel" name="phone" id="phone" placeholder="Phone" />
                    </div>
                    <p class="alert alert-danger" *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
                        <span *ngIf="registerForm.get('phone')?.getError('required')">Required</span>
                        <span *ngIf="registerForm.get('phone')?.getError('pattern')">Egyptian numbers only</span>
                       </p>
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="age">
                            <span class="fa-solid fa-globe"></span>
                        </label>
                        <input  formControlName="age" type="number" name="age" id="age" placeholder="Age" />
                    </div>
                    <p class="alert alert-danger" *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched">
                        <span *ngIf="registerForm.get('age')?.getError('required')">Required</span>
                       </p>
                       <div class="alert alert-danger" *ngIf="apiError">
                                    {{apiError}}
                       </div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <button class="btn btn-danger" [disabled]="registerForm.invalid">
                            <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
                            <span *ngIf="!isLoading">Register</span>
                        </button>
                        <p class="my-3">Already Have an account?
                            <a class="text-info" routerLink="/signIn">Signin</a>
                        </p> 
                    </div>
                </form>
            </div>
            <div class="signup-image col-md-6 d-flex justify-content-center">
                <figure><img src="assets/images/signup-image.jpg" alt="sing up image"/></figure>
            </div>
        </div>
    </div>
</section>